.NotConnected{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
:root{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
}