    :root {
        --text: #1d5396;
        --text-secend: #14355ec1;
        --btn: #0a8bc2;
        --border: rgb(37, 37, 37);
        --btnhover : #1e4d86;
        --primary: #133b6ba1;
        --primary--light: rgba(14, 149, 211, 0.286);
        --secendory : rgb(106, 104, 104);
        --body: #ececec;
        --white:white;
        --border: rgb(37, 37, 37);
        --pbg: #edf1f5;
        --pfont: #2b2b2b;
        --text-color: #252B42;
        --second-text-color: #737373;
        --second-border-color: #ffffff;
        --light-gray-1: #FAFAFA;
        --primary-color: #ffffff60;   
        --success-text-color: #2DC071;
        --muted-color: #BDBDBD;
        --secondary-color-1: #23856D;
        --dark-background-color: #252B42

    }

:root{
    background-color: var(--body);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    user-select: none;
    overflow: hidden;
}

.form{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    padding: 30px 32px;
    min-height: 300px;
    gap: 10px;
    /* border: 1px solid var(--btn); */
    background-color: var(--second-border-color);
    border-radius: 5px;
    box-shadow: 0 0 10px var(--second-border-color);
}

@media (max-width : 992px) {
    .form{
        width: 60%;
    }
}

.formLink:hover{
    color:  var(--btnhover);
    cursor: pointer;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(250, 235, 215, 0.32);
    height: 100vh;
}

.formRow{
    flex: 1  0 300px;
}

.formHeader{
    font-size: xx-large;
    color: black;
    font-weight: 600;
}

.row{
    flex: 1 0 100%;
    display: flex;
    flex-wrap: wrap;
}

.mt{
    margin-top: 5px;
}

.formInput{
    width: 100%;
    outline: none;
    flex-grow: 1;
    flex-basis: 100px;
    outline: none;
    border: none;
    background-color: var(--primary-color);
    padding: 10px;
    color: var(--text);
    font-size: clamp(1rem, 2.5vw, 1rem); 
    border-radius: 4px;
    border: 1px solid var(--btnhover);
    font-weight: 600;
    transition: all 100ms ease-in-out;
}

.formInput:focus{
    outline-width: 4px;
    outline-style: solid;
    outline-color: var(--body);
}

.formInput::placeholder{
    color: var(--primary);
}

.formSlogan{
    text-align: justify;
    font-size: clamp(15px , 1vh , 100px);
    line-height: 1.3;
    color: var(--text-secend);
}

.formFooterText2{
    color: #0a66c2;
    font-weight: 600;
    cursor: pointer;
    font-size: large;
}

.formFooterText2:hover{
    color: var(--btnhover);
}

.g{
    gap: 5px;
}
    
    @media (max-width : 768px) {
        
        .form{
            width: 95%;
            padding: 20px 22px;
            height: auto;
            overflow: auto;
        }
        .formInput{
            padding: 10px;
        }
    }


    .botton{
        background-color: var(--btn) ;
        cursor: pointer;   
        padding: 15px 10px;
        width: 100%;
        border-radius: 5px;
        outline: none;
        outline-width: 1px;
        border: none;
        font-size: larger;
        color: var(--white);
        transition: all 200ms ease-in-out ;
    }
    .bottonDisabled{
        background-color: rgba(255, 0, 0, 0.639) ;
        padding: 15px 10px;
        width: 100%;
        border-radius: 5px;
        outline: none;
        outline-width: 1px;
        border: none;
        font-size: larger;
        color: var(--white);
        transition: all 200ms ease-in-out ;
        cursor: no-drop !important;
    }
    
    .botton:hover{
        outline-width: 4px;
    outline-style: solid;
    outline-color: var(--body);
    }