.modalBody{
    width: 50%;
    max-height: 500px;
    overflow: auto;
    background-color: whitesmoke;
}

.modalBodyTable{
    width: 40%;
    max-height: 500px;
    overflow: auto;
    background-color: whitesmoke;
}

.TableContainer{
    width: 100%;
    overflow:auto;
    margin: 0 auto;
}

.modalBodyForm{
    width: 50%;
    max-height: 500px;
    overflow: auto;
    background-color: whitesmoke;
}
@media (max-width : 800px) {
    .TableContainer{
        width: 95%;
    }
    .modalBody{
        width: 95%;
    }
    .modalBodyTable{
        width: 95%;
    }
}
