.loader {
    --dim: 3rem;
    width: var(--dim);
    height: var(--dim);
    position: relative;
    animation: spin988 2s linear infinite;
}

.loader .circle {
    --color: #333;
    --dim: 1.2rem;
    width: var(--dim);
    height: var(--dim);
    background-color: var(--color);
    border-radius: 50%;
    position: absolute;
}

.loader .circle:nth-child(1) {
    top: 0;
    left: 0;
}

.loader .circle:nth-child(2) {
    top: 0;
    right: 0;
}

.loader .circle:nth-child(3) {
    bottom: 0;
    left: 0;
}

.loader .circle:nth-child(4) {
    bottom: 0;
    right: 0;
}

@keyframes spin988 {
    0% {
        transform: scale(1) rotate(0);
    }

    20%,
    25% {
        transform: scale(1.3) rotate(90deg);
    }

    45%,
    50% {
        transform: scale(1) rotate(180deg);
    }

    70%,
    75% {
        transform: scale(1.3) rotate(270deg);
    }

    95%,
    100% {
        transform: scale(1) rotate(360deg);
    }
}



* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'segoe ui';
}

.navbarMain {
    height: 60px;
    width: 100%;
    background-color: var(--white);
    display: flex;
    position: absolute;
}

.navbarMain>.nav-header {
    display: inline;
}

.nav-title {
    background-color: rgb(255, 255, 255);
    width: 10%;
    position: absolute;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.logo {
    width: 207px;
    position: fixed;
    left: -8px
}

.navbarMain>.nav-btn {
    display: none;
}

.navbarMain>.nav-links {
    display: inline;
    float: right;
    display: flex;
    font-size: 18px;
}

.navbarMain>.nav-links>span {
    display: inline-block;
    padding: 26px 10px 13px 10px;
    text-decoration: none;
    color: var(--text);
}

.navbarMain>.nav-links>span:hover {
    background-color: rgba(0, 0, 0, 0.948);
}

.navbarMain>#nav-check {
    display: none;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
    font-size: larger;
    color: var(--white);
}

@media (max-width:768px) {
    .close {
        display: block;
    }

    .navbarMain>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .navbarMain>.nav-btn>label {
        display: inline-block;
        margin-top: 15px;
        width: 50px;
        color: var(--text);
        height: 50px;
        padding: 13px;
    }

    .navbarMain>.nav-btn>label:hover,
    .navbarMain #nav-check:checked~.nav-btn>label {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        margin-top: 2px;
        height: 10px;
        border-top: 3px solid var(--text);
    }

    .nav>.nav-links {
        position: fixed;
        width: 100%;
        /* background-color: #333333bf; */
        backdrop-filter: blur(20px);
        height: 100vh;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        /* top: 0px; */
        top: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        /* left: 0px;/ */
    }

    .nav>.nav-links>a {
        display: block;
        width: 100%;
    }

    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    .nav>#nav-check:checked~.nav-links {
        height: 100vh;
        overflow-y: auto;
    }
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hand {
    cursor: pointer;
}

.sidebar {
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    background: #222222;
    z-index: 10;
    transition: all 0.5s ease;
}

.sidebar .logo-details {
    width: 100%;
    height: 60px;
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.containerSIDE {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.sidebar .logo-details i {
    font-size: 30px;
    color: #fff;
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
}

.links {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    padding: 10px;
    flex-direction: column;
    height: 400px;
}

.linkTitle {
    cursor: pointer;
    font-size: larger;
    width: 100px;
}

.linkTitleLogOut {
    cursor: pointer;
    font-size: larger;
    color: red;
    width: 100px;
}


.links--menus {
    padding: 14px;
    background-color: rgba(125, 127, 128, 0.583);
    gap: 10px;
    width: 100%;
    border-radius: 3px;
    transition: 0.3s all ease-in-out;
    display: flex;
    color: white;
    opacity: 0.5;
    justify-content: center;
    align-items: center;
}

.links--menu--logo {
    padding: 14px;
    /* gap: 10px; */
    width: 40%;
    width: 185px;
    border-radius: 3px;
    transition: 0.3s all ease-in-out;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}

.links--menusLast {
    padding: 14px;
    background-color: rgba(125, 127, 128, 0.583);
    gap: 10px;
    width: 100%;
    border-radius: 3px;
    transition: 0.3s all ease-in-out;
    display: flex;
    color: white;
    opacity: 0.8;
    justify-content: center;
    align-items: center;
}

.links--menus:hover {
    opacity: 1;
}

.links--menusLast:hover {
    opacity: 1;
}

.activeLink {
    opacity: 1;
}


.md {
    display: none;
}

@media (max-width : 768px) {
    .lg {
        display: none;
    }

    .md {
        display: block;
    }

    .sidebar {
        /* height: calc(100vh - 136px); */
    }

    .logo {
        justify-content: start;
    }

    .links {
        padding: 10px 1px;
        width: 60px;
    }

    .linkTitle {
        display: none;
    }

    .linkTitleLogOut {
        display: none;
    }

    .links--menus {
        font-size: 15px;
    }
}

/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/** {
  scrollbar-width: thin;
  scrollbar-color: #6A6A6A #FFFFFF;
}*/

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #FFFFFF;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #DDDDDD;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #6A6A6A;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #212121;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #000000;
  }

  .customClass{
    width: 20%;
    z-index: 100232222232222222000;
  }

  @media (max-width : 768px) {
    .customClass{
        width: 70%;
      }
  }

  .customClass{}